*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

p{
    font-weight: 300;
    color: #111;
}

header{
 position: fixed;
 top: 0%;
 left: 0%;
 padding: 20px 10px;
 width: 100%;
 z-index: 1;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 transition: 0.5s;   
}

.logo{
    color: #fff; 
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}
.logo span{
    color: #fb911f;
}

.navbar{
    display: flex;
    position: relative;
}
.navbar li{
    list-style: none;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    font-size: 700;
}
 
.btn-panier{
    padding: 10px 20px;
    background: #fb911f;
    margin-top: -10px;
    text-transform: uppercase;
}

.btn-panier:hover{
    background: #d87710;
    transition: ease-out;
}

header .navbar li a:hover{
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
}

.banniere{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Img/7a075ae77e31249f5585f38cbeb77dd0.jpg);
    background-size: cover;
    
}

.banniere .contenu{
    max-width: 70%;
    text-align: center;
}

.banniere .contenu h2{
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;
}
.contenu p:nth-child(2){
    color: #ffff;
    font-size: 1.2em;
}
.btn1{
    font-size: 1em;
    color: #fff;
    background:#fb911f;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 00.5s;
    margin-left: 10px;
}
.btn2{
    font-size: 1em;
    color: #fff;
    background: #2a4932;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 00.5s;
    margin-left: 10px;
}
.btn1:hover{
    letter-spacing: 4px;
}
section{
    padding: 100px;  
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
 
.row .col50{
    position:relative;
    width: 48%;
    justify-content: center;
    align-items: center;
}
.row .col50 h2{
    margin-bottom: 20px;
}

.titre-texte{
    color: black;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}

.titre-texte span{
    color: #fb911f;
    font-size: 1.5em;
    font-weight: 700px;
}

.titre{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Menu{
    margin-top: -100px;
}

.Menu .contenu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.Menu .contenu .box{
    width: 350px;
    margin: 20px;
    border: 20px solid #fff;
    box-shadow: 20px 15px 35px rgba(0,0,0,0.8);
}

.Menu .contenu .box .imbox{
    position: relative;
    width: 100%;
    height: 300px;
}

.Menu .contenu .box .imbox img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
}


.Menu .contenu .box .text{
     text-align: center;
     font-weight: 300px;
     color: #111;
}

.Menu .contenu .box .text h3{
    font-weight: 400;
}

.Testimony{
    background-image: url(./Img/background\ customers.jpg);
    background-size: cover;
}

.Testimony .contenu{ 
    display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction:row;
}

.Testimony .contenu .box{
    width: 340px;
    margin: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}

.Testimony .contenu .box .imbox{
     width: 80px;
     height: 80px;
     border-radius: 50px;
     position: relative;
     margin-bottom: 20px;
     overflow: hidden;
}

.Testimony .contenu .box .imbox img{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.Testimony .contenu .box h3{
    color: #fb911f;
    margin-top: 20px;
    font-size: 1em;
    font-weight: 600;
}

.contact{
    background-image: url(./Img/images.jpg);
    background-size: cover; 
    box-shadow: 2px 2px 12px rgba(0,0,0,0.8);
    width: 100%;
    background-position:unset;
}

.contactform{
    padding: 75px 50px;
    background:#fff;
    box-shadow: 5px 15px 50px rgba(0,0,0,0.8) ;
    max-width: 500px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 38%;
}
.contactform{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
 
.contactform h3{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.contactform .inputboite input,
.contactform  .inputboite textarea{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;        
}

.contactform .inputboite input[type="submit"]{
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    background: #fb911f;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
    border: none;
    transition: 00.5s;
    max-width: 120px;
    align-items: center;
    justify-content: center;
}

.contact .titre-text{
    color: #fb911f;
    font-size: 2em;
}

.copyright{
    padding: 20px 40px;
    border-top: 2px solid rgba(0,0,0,0.1);
    background: rgba(228,222,222,);
    text-align: center;
}

.copyright p:nth-child(1){
    color: #333;
}

.copyright a{
    color: #fb911f;
    text-decoration:none;
    font-size: 600;
    font-style: italic;
}

.header .sticky{
    background: #fff;
    padding: 10px 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
}

.header .sticky.logo{
    color: #000;
}

.header .sticky .navbar li a {
    color: #000;
}

.quote {
    font: 1.2rem/1.4 Georgia, serif;
    margin: 0;
    background: #eee;
    padding: 1em;
    border-radius: 1em;
  }
  .quote figcaption,
  .quote blockquote {
    margin: 1em;
  }

  .center {
    
    
    /* Optional Styling */
    padding: 20px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 20px;
    background-color: #ffffff;
   
  }